/* Variáveis CSS 
As váriáveis armazenam valores que podem ser reutilizados 
em todo o projeto. Ajudam a manter a consistência e 
facilitam a manutenção do código.
Esta estrutura pode ser reutilizada em outros projetos, 
mas os valores são específicos para este projeto.
*/

:root {
    /* Cores */
    --letter-color: #091667;
    --background-color: #5f8be9;
    --bodybackground-color: #b8b8f7;
    --highlight-color:rgb(181, 7, 33);
    
    /* Fontes */
    --font-base: "Roboto", sans-serif;
    
    /* Bordas */
    --radius: 8px;        /* cantos com o mesmo arredondamento em vários elementos */
    --border-width: 10px;  /* Largura das bordas igual em vários elementos */
    }